extends layout

block content
    .blog-entry-page
        .blog-entry
            img(src="http://placehold.it/1920x1080",alt="entry-image")
            .entry-text
                .entry-header
                    h3 
                        a(href="#") Sample Blog Post
                    p.description <strong>Posted On:</strong> June 3,2016 • <strong>Author:</strong> Pastor Ryan Hayden • <strong>Category:</strong> Articles
                .entry-content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam animi quas ipsa quo velit, nisi, iste blanditiis dignissimos similique non, vero vel quidem, quaerat ullam. Ipsa consequuntur eos expedita ex!
                    